[Unit]
Description=Schedule Morning, Evening and Night News EPUB editions

[Timer]
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 17:30:00
OnCalendar=*-*-* 22:00:00
AccuracySec=1min
Unit=news-epub.service

[Install]
WantedBy=timers.target
