[Unit]
Description=Build morning News EPUB edition

[Timer]
OnCalendar=*-*-* 06:00:00
AccuracySec=1s
Persistent=true
Unit=news-epub@morning.service

[Install]
WantedBy=timers.target
